.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease-in-out;
    animation-name: show;
    animation-duration: 0.5s;
    animation-iteration-count: 1;

    label{
        margin: 10px 0;
    }

    @keyframes show {
        0%{
            transform: scale(0%);
        }
        50%{
            transform: scale(50%);
        }
        100%{
            transform: scale(100%);
        }
    }
}