.history {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 6rem;

    table {
        width: 100%;
        max-width: 90%;
        text-align: center;
        border: none;
        border-collapse: collapse;

        thead {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 167) 100%);
            color: white;
            font-weight: 900;

            tr {
                th {
                    padding: 10px 5px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 900;
                    font-size: 14px;
                    padding: 10px 0px;
                }
            }
        }
    }
}